@using ExampleApp.MVC.ViewModels;

@model VehiclesModelsIndexViewModel;

@{
    ViewData["Title"] = "Models";
}

<div class="input-forms mt-2">
    @{ await Html.RenderPartialAsync("./Components/_CreateForm", Model.VehiclesModelsViewModel); }
    @{ await Html.RenderPartialAsync("./Components/_DataManipulation.cshtml", Model.DataManipulationViewModel); }
</div>

@{ await Html.RenderPartialAsync("./Components/_ModelsTable.cshtml", Model.VehiclesModelsViewModel); }


@{ await Html.RenderPartialAsync("_Pagination", Model.DataManipulationViewModel); }

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}