<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.2.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ExampleApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a 
                                class='nav-link @(ViewContext?.RouteData?.Values["Controller"]?.ToString() == "VehicleMake" ? "active" : "")' 
                                asp-controller="VehicleMake" 
                                asp-action="VehiclesIndex">
                                    Vehicles
                            </a>
                         </li>
                        <li class="nav-item">
                            <a 
                                class='nav-link @(ViewContext?.RouteData?.Values["Controller"]?.ToString() == "VehicleModel" ? "active" : "")' 
                                asp-controller="VehicleModel" 
                                asp-action="ModelsIndex">
                                    Models
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-lg">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
