@using ExampleApp.MVC.ViewModels;

@model VehiclesIndexViewModel;

@{
    ViewData["Title"] = "Vehicles";
}

<div class="input-forms mt-2">
    @{ await Html.RenderPartialAsync("./Components/_CreateForm", Model.VehiclesViewModel); }
    @{ await Html.RenderPartialAsync("./Components/_DataManipulation.cshtml", Model.DataManipulationViewModel); }
</div>

@{ await Html.RenderPartialAsync("./Components/_VehiclesTable", Model.VehiclesViewModel); }

@{ await Html.RenderPartialAsync("_Pagination", Model.DataManipulationViewModel); }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}