.forms-wrapper {
  float: right;
}

.form {
  display: inline-block;
}

.form label {
  cursor: pointer;
  color: var(--bs-link-color);
}
.form label:hover {
  color: var(--bs-link-hover-color);
}

.form input {
  display: none;
}

.input-forms {
  display: flex;
  flex-direction: row;
}

.input-forms div {
  flex-grow: 1; 
}